body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav img {
  width: 30px;
  padding: 5px;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.sign-in {
  border: solid 2px;
  max-width: 400px;
  margin-left: 2em;
}

.sign-in-direction {
  padding-left: 1em;
}

.sign-in-form {
  padding: 1em;
}

.sign-in-form input {
  display: block;
  background-color: green;
  color: white;
  width: 200px;
  font-size: medium;
}

.sign-in-form select {
  width: 200px;
  font-size: small;
}

.home-view {
  border: solid 2px;
  max-width: 400px;
  margin-left: 2em;
}

.home-nav {
  width: 50%;
}

.question-preview {
  border: solid 1px;

}

.question-preview-name {

}

.question-preview-avatar {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  padding: 1em;
}

.question-preview-avatar img {
  width: 30px;
}

.question-preview-options {
  width: 80%;
  display: inline-block;
}

.question-preview-options button {
  width: 80%;
  color: green;
}

.new-question {
  border: solid 2px;
  max-width: 400px;
  margin-left: 2em;
}

.new-question-form {
  padding: 2em;
}

.new-question-submit {
  background: green;
  color: white;
}

.leaderboard {
  border: solid 2px;
  max-width: 400px;
  margin-left: 2em;
}

.user-score {
  border: solid 1px;
}

.user-score-avatar {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  padding: 1em;
}

.user-score-avatar img {
  width: 30px;
}

.user-score-statistics {
  display: inline-block;
  width: 50%;
}

.user-score-points {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  padding: 1em;
  color: green
}

.question-vote {
  border: solid 2px;
  max-width: 400px;
  margin-left: 2em;
}

.question-vote-name {

}

.question-vote-avatar {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  padding: 1em;
}

.question-vote-avatar img {
  width: 30px;
}

.question-vote-options {
  width: 80%;
  display: inline-block;
}


.question-result {
  border: solid 2px;
  max-width: 400px;
  margin-left: 2em;
}

.question-result-avatar {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  padding: 1em;
}

.question-result-avatar img {
  width: 30px;
}

.question-result-details {
  width: 80%;
  display: inline-block;
}

.question-result-detail {
  margin: 3px;
  border: solid 1px;
}
